

.appBar {
    color: #383434;
    box-shadow: inset 0 0 10px rgb(0 0 0 / 66%), 0 0 9px 3px rgb(0 0 0 / 0%);
    padding: 10px 0;
}
.appBar h4{
	text-align:center;
}

.header {
    color: #383434;
    box-shadow: inset 0 0 10px rgb(207 207 207 / 60%), 0 0 9px 3px rgb(0 0 0 / 0%);
    padding: 10px 0;
    margin-top: 20px;
}

.header h4{
	padding: 5px 20px;
	margin:0;
	display:block;
	overflow:hidden;
	margin-left:5px;
}

a{
	text-decoration:none;
}
.subject {
    --white: #ffffff;
    font-size: 15px;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    color: #5e5b5b;
    background: rgb(89 87 90 / 5%);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 0%);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 25px 0;
    margin: 10px 10px;
    text-align: center;
}
.userjobpost{
	position:absolute;
	bottom:0;
	padding:0 20px;
	width:100%;
}
/*job-box govjob.html*/
.job-box {
    font-size: 12px;
    position: relative;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    background: #fff;
    box-shadow: 0px 0px 3px 0px rgb(31 38 135 / 37%);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px 15px;
    margin: 10px 10px;
}
.job-header{
    font-size: 17px;
	color:#000000a8;
	margin:0;
}
.organization{
	margin:0;
	color:#1f2826ab;
}
.apply-start{
	color:#008000a3;
}
.apply-end{
	color:#ff0000b5;
}

.places{
	margin:0;
	color:#0000008c;
}
.view-more{
	text-align:right;
}
/*job-box govjob.html end*/

/*job-box jobview.html */

.job-list{
	margin:5px 0 0 0;
}
.view-image{
	width:100%;
}
.view-image img{
	width:100%;
}
/*job-box jobview.html end */
/*job-box qands.html  */
.qands-list ul li{
	font-size:12px;
	margin-bottom:5px;
}
.question-and-answer-submission-area{
	padding:30px 30px;
	background-color:#B7D2FD;
}

/*job-box qands.html end */
/*admin */
.bd-light{
	background-color:#fff;
}
/*jobcategory */
.single-category{
	color:#008000a3;
}

/*
.subject:hover {
 color: #FFF;
 box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.subject:before {
 content: "";
 position: absolute;
 left: -4em;
 width: 4em;
 height: 100%;
 top: 0;
 transition: transform .4s ease-in-out;
 background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.subject:hover:before {
 transform: translateX(300px);
}
*/